<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome.welcome') %></h1>
  <p class="lead"><%= t('welcome.welcome_msg') %></p>
  <hr class="my-4">
  <p class="lead"><%= t('welcome.menu_msg') %></p>
  <%= render partial: 'menu'%>
</div>

