<div class="jumbotron">
  <h1 class="display-4"><%=t('wellcome')%></h1>
  <p class="lead"><%= t('messages.wellcome')%></p>
  <hr class="my-4">
  <p><%= t('messages.menu')%></p>
  <%= render "menu" %>
</div>




